<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Tree</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}!!!</h1>
        <div class="d-flex col-4 justify-content-around">
            <a href="/show/account/{{ user.id }}">My Trees</a>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>

        </div>

    </nav>
    <form action="/update/tree" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Edit Tree</h2>
        {% with messages = get_flashed_messages(category_filter=['tree']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <input type="hidden" name="id" value={{edit.id}}>
            <div class="col-4">
                <div class="form-group">
                    <label for="species">Species:</label>
                    <input type="text" name="species" class="form-control" value="{{edit.species}}">
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input type="text" name="location" class="form-control" value="{{edit.location}}">
                </div>
                <div class="form-group">
                    <label for="reason">Reason:</label>
                    <input type="text" name="reason" class="form-control" value="{{edit.reason}}">
                </div>
                <div class="form-group">
                    <label for="date_planted">Date Planted:</label>
                    <input type="date" name="date_planted" value="{{edit.date_planted.strftime('%Y-%m-%d')}}" class="form-control">
                </div>
            </div>
            <div class="col-4">
                <br>
                <input type="submit" value="Update" class="btn btn-primary">
                </div>
            </div>
        </div>
    </form>
</body>
</html>