<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Post</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-center">Welcome {{user.first_name}}</h1>
        <div class="col-12 justify-content-around">
            <a href="/show/account/{{ user.id }}">My Trees</a>
            <a href="/dashboard" class="btn btn-primary">Dashboard</a>
            <a href="/logout" class="btn btn-info">Logout</a>
        </div>

    </nav>
    <form action="/plant/tree" method="post" class="col-11 p-4 my-4 bg-dark text-light mx-auto">
        <h2 class="text-primary">Post a new idea</h2>
        {% with messages = get_flashed_messages(category_filter=['tree']) %}
            {% if messages %}
            <div class="alert alert-danger" role="alert">
                <strong>Flash AHHHHHHH!!!!</strong>
                    {% for message in messages %}
                    <p>{{message}}</p>
                    {% endfor %}
            </div>
            {% endif %}
        {% endwith %}
        
        <div class="d-flex justify-content-between col-9">
            <div class="col-4">
                <div class="form-group">
                    <label for="species">Inspiration:</label>
                    <input type="text" name="species" class="form-control">
                </div>
                <div class="form-group">
                    <label for="location">Location:</label>
                    <input name="location" class="form-control">
                </div>
                <div class="form-group">
                    <label for="reason">Reason:</label>
                    <input name="reason" class="form-control">
                </div>
                <div class="form-group">
                    <label for="date_planted">Date:</label>
                    <input type="date" name="date_planted" class="form-control">
                </div>
                <div class="input-group-text bg-dark">
                    <br>
                    <input type="submit" value="Post" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>
    </form>
</body>
</html>