<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="d-flex justify-content-between align-items-center col-12">
        <h1 class="text-left">Idea Tracker</h1>
        <h2 class="text-right">Welcome {{user.first_name}}</h2>
        <div class="row">
            <div class="col-12 justify-content-around">
                <a href="/dashboard" class="btn btn-primary">Dashboard</a>
                <a href="/logout" class="btn btn-info">Logout</a>
        </div>
    </nav>

    <div class="col-8 mx-auto">
        <h4 class="text-left">A site to track randomly thoughts</h4>
            <table class="table table-hover">
                <thead>
                    <h3>random inspiration</h3>
                    <tr>
                        <th>Something about</th>
                        <th>Date</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tree in trees %}
                        <tr>
                            <td>{{  tree.species  }}</td>
                            <td>{{  tree.date_planted  }}</td>
                            <td>
                                <a href="/destroy/tree/{{ tree.id }}">Delete</a>
                                <a href="/edit/tree/{{ tree.id }}">Edit</a>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
</body>
</html>